.footer {
    .footer__body {
        position: relative;
        padding: 24px 14px;
        text-align: center;
        .footer__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer__text {
            font-size: 1.125rem;
            color: var(--color-own);
            line-height: 19px;
            display: flex;
            align-items: center;
            gap: 10px;
            svg {
                width: 97px;
                height: 30px;
            }
        }
        .footer__img {
            position: absolute;
            top: -70px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.1;
            width: 320px;
            height: 180px;
        }
    }
}
@media (min-width: 860px) {
    .footer {
        .footer__body {
            position: relative;
            padding: 0;
            padding-bottom: 32px;
            .footer__content {
                align-items: start;
                gap: 16px;
            }
            .footer__img {
                position: absolute;
                top: -104px;
                right: 0px;
                left: auto;
                opacity: 1;
                width: 324px;
                height: 193px;
                transform: scale(1);
            }
        }
    }
}
@media (min-width: 1440px) {
    .footer {
        .footer__body {
            position: relative;
            padding: 0;
            padding-bottom: 32px;
            .footer__content {
                align-items: start;
                gap: 32px;
            }
            .footer__text {
                font-size: 1.875rem;
                line-height: 43px;
                gap: 12px;
                svg {
                    width: 128px;
                    height: 38px;
                }
            }
            .footer__img {
                position: absolute;
                top: -104px;
                right: 24px;
                left: auto;
                opacity: 1;
                width: 384px;
                height: 227px;
                transform: scale(1.25);
            }
        }
    }
}